body {
font-family: 'Open Sans', sans-serif;
background-color: #2C2B3D;
margin: 0;
}

.page {
  border: 0px;
  width: 1070px;
  padding-top: 70px;
  margin: 0 auto;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 101px;
  
  
}

main {
  display: flex;
  align-items:  center;
  justify-content: space-between;
  
}

ul {
list-style: none;
display: flex;
gap: 64px;
font-family: 'JetBrains Mono', monospace;
font-size: 14px;
 
}

ul li a {
  text-decoration: none;
  color: #aaa;
}

ul li a:hover {
  font-weight: bold;
  color: white;
}

a {
color:white ;
text-decoration: none;
} 

h1 {
font-family: 'JetBrains Mono', monospace;
font-size: 36px;
margin: 6px auto 59px;
text-align: center;
color: #FFFFFF;


}

h1 span {
  font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;

text-align: center;

color: #00BFA6;

mix-blend-mode: normal;
}

p {
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #aaa;
  
}


p span {
color: #00BFA6;
}

p strong {
color: 
#C2C2C2;
}

footer {
font-family: 'JetBrains Mono', monospace;
font-style: 14px;
text-align: center;
padding-bottom: 0;
color: #FFFFFF;
} 

.line {
  width: 568px;
  height: 0;
  border: 1px solid #00BFA6;
  margin: 157px auto 27px;
}

footer a {
text-decoration: none;
color: #aaa;
} 

footer a:hover{
font-weight: bold;
color: white;
}

#padlock {
position: fixed;
bottom: 20px;
left: 20px;
}